[submodule "partial_mods/animals_modpack"]
	path = partial_mods/animals_modpack
	url = git://github.com/sapier/animals_modpack.git
[submodule "partial_mods/survival_modpack"]
	path = partial_mods/survival_modpack
	url = https://github.com/kaeza/minetest-survival_modpack
[submodule "mods/mobs"]
	path = mods/mobs
	url = git://github.com/PilzAdam/mobs.git
[submodule "mods/plantlife"]
	path = mods/plantlife
	url = git://github.com/VanessaE/plantlife.git
[submodule "mods/builtin_item"]
	path = mods/builtin_item
	url = git://github.com/PilzAdam/builtin_item.git
[submodule "mods/throwing"]
	path = mods/throwing
	url = git://github.com/PilzAdam/throwing.git
[submodule "mods/vines"]
	path = mods/vines
	url = git://github.com/bas080/vines.git
[submodule "mods/snow"]
	path = mods/snow
	url = git://github.com/Splizard/minetest-mod-snow.git
[submodule "mods/stoneage"]
	path = mods/stoneage
	url = git://github.com/CasimirKaPazi/stoneage.git
